.app {
  text-align: center;
}

.logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
  padding-top: 80px;
}

.header {
  background-color: lighten(#222, 10%);
  height: 300px;
  padding: 20px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
